<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
    <script src="/jquery/src/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<video autoplay="autoplay" loop poster="/images/index_begin_bg.jpg" id="bg_video_id">
    <source src="/video/fit_index_bg.webm" type="video/webm">
    <source src="/video/fit_index_bg.mp4" type="video/mp4">
    您的浏览器不支持 HTML5 video 标签。
</video>
<%- include component/index_nav_top.ejs %>


<div id="index_banner">

</div>
<div id="index_bottom">
</div>

</div>
</body>
</html>
