<nav class="navbar navbar-default " id="index_nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <div id="header" style="float:left;color:white;">
                    <img src="/images/_LOGO.png" style="vertical-align:middle; width:32px;"/>&nbsp;Lose Weight
                </div>
            </a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div id="header" style="float:left;">

</div>