<script type="text/javascript">
    var showMaskLoading=function () {
        $('#mask-loading').removeClass('hide-view');
        $('#mask-loading').addClass('show-view');
    }
    var hideMaskLoading=function () {
            $('#mask-loading').removeClass('show-view');
            $('#mask-loading').addClass('hide-view');
    }
</script>
<div id="mask-loading" class="container hide-view">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
        </div>
    </div>
</div>